.register-bg {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC-e56XhxfqmV-FZcUkOu-CZa680KRtuMSE8fafPHaT0NHYrHZusT213GY-i9fTcRZho4sx1v7jl9N4Gg9PS7N6TJIsdtdbuKeDRrmvNnBzhPNKinbRysXivy_k7eh3e7wALQJHClNTIucDJkzuqWe5SW4jnqnkWoE7HsmZUNFx6xxDcFNpmbeAC-1bs698fJBb2JgerlBvJfrAQILxbm7oGtjipjJE-igxw8f-IGYOxrrg1qxJqQZokJHPGZgs8J6w80dBd21dT_s');
  background-size: cover;
  background-position: center;
}
